@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,500;0,6..72,800;1,6..72,300&display=swap');
body {
    background-color: rgb(255, 255, 255);
    font-family: Newsreader;
    text-align: center;
    margin-top:100px;
}

h1 {
    font-size: 72px;
    font-weight: 800;
    margin-bottom: 5px;
}

h2 {
    font-style: italic;
    /* font-weight: 300; */
}

p {
    font-weight: 500;
}

.highlighted {
    background-color: rgb(255, 255, 54);
    display:inline;
}

a {
    color: #0000EE
}

a:hover {
    color: black;
    background-color: rgb(255, 255, 54);
    display: inline;
}